	<p>Id: <%= item.id %></p> 
	<p>Token: <%= item.token %></p>
	<p>Content: <%= item.content %></p>
	<p>Image: <img src="<%= item.image.url %>" /></p>
	<p>Cropped Image: <img src="<%= item.cropped_image.url %>" /></p>